<span class="education-footer-pattren"></span>

<!--// Footer Widget \\-->
<div class="education-footer-widget">
  <div class="container">
    <div class="row">
      <!--// Widget Contact Info \\-->
      <aside class="col-md-4 widget widget_contact_info">
        <a href="index.html" class="education-footer-logo"
          ><img src="images/footer-logo.png" alt=""
        /></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          feugiat urna non ipsum maxim us malesuada.
        </p>
        <ul>
          <li>
            <i class="education-color fa fa-home"></i> 195 Cooks Mine Road Espa
            nola, NM 87532
          </li>
          <li>
            <i class="education-color fa fa-phone"></i> +123 45 678 - 00 913
            2245 <br />678
          </li>
          <li>
            <i class="education-color fa fa-envelope"></i>
            <a href="mailto:name@email.com">info@example.com - </a>
            <a href="mailto:name@email.com">example@abc.com</a>
          </li>
        </ul>
      </aside>
      <!--// Widget Contact Info \\-->
      <!--// Widget Featured Courses \\-->
      <aside class="col-md-4 widget widget_featured_courses">
        <div class="education-footer-title"><h4>Featured Courses</h4></div>
        <ul>
          <li>
            <figure>
              <a href="course-detail.html"
                ><img src="extra-images/widget-featured-courses-1.jpg" alt=""
              /></a>
              <figcaption>
                <h6>
                  <a href="course-detail.html"
                    >Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a
                  >
                </h6>
                <div class="star-rating">
                  <span class="star-rating-box" style="width: 54%"></span>
                </div>
                <small>( 12 Reviews )</small>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a href="course-detail.html"
                ><img src="extra-images/widget-featured-courses-2.jpg" alt=""
              /></a>
              <figcaption>
                <h6>
                  <a href="course-detail.html"
                    >Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a
                  >
                </h6>
                <div class="star-rating">
                  <span class="star-rating-box" style="width: 34%"></span>
                </div>
                <small>( 12 Reviews )</small>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a href="course-detail.html"
                ><img src="extra-images/widget-featured-courses-3.jpg" alt=""
              /></a>
              <figcaption>
                <h6>
                  <a href="course-detail.html"
                    >Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a
                  >
                </h6>
                <div class="star-rating">
                  <span class="star-rating-box" style="width: 85%"></span>
                </div>
                <small>( 12 Reviews )</small>
              </figcaption>
            </figure>
          </li>
        </ul>
      </aside>
      <!--// Widget Featured Courses \\-->
      <!--// Widget Gallery \\-->
      <aside class="col-md-4 widget widget_gallery">
        <div class="education-footer-title"><h4>Flicker Images</h4></div>
        <ul>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-1.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-1.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-2.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-2.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-3.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-3.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-4.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-4.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-5.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-6.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-6.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-7.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-7.jpg" alt=""
            /></a>
          </li>
          <li>
            <a
              data-fancybox-group="group"
              href="extra-images/widget-gallery-8.jpg"
              class="fancybox"
              ><img src="extra-images/widget-gallery-8.jpg" alt=""
            /></a>
          </li>
        </ul>
      </aside>
      <!--// Widget Gallery \\-->
    </div>
  </div>
</div>
<!--// Footer Widget \\-->

<!--// CopyRight \\-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="education-copyright">
        <p>© 2017, All Right Reserved - by <a href="index.html">EyeCix</a></p>
        <ul>
          <li><a href="404.html">Privacy</a></li>
          <li><a href="404.html">Terms</a></li>
          <li><a href="404.html">Sitemap</a></li>
          <li><a href="404.html">Purchase</a></li>
        </ul>
        <a href="#" class="education-back-top"
          ><i class="fa fa-angle-up"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!--// CopyRight \\-->
