<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from eyecix.com/html/education/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Apr 2018 10:54:32 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Education About Us</title>

    <!-- Css Files -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/flaticon.css" rel="stylesheet" />
    <link href="/css/slick-slider.css" rel="stylesheet" />
    <link href="/css/fancybox.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/color.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">
      <!--// Header \\-->
      <header id="education-header" class="education-header-one">
        <%- include('../partials/header') %>
      </header>
      <!--// SubHeader \\-->
      <div class="education-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="education-subheader-title"><h1>About Us</h1></div>
              <ul class="education-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><i class="fa fa-long-arrow-right"></i></li>
                <li class="active">About Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--// SubHeader \\-->

      <!--// Main Content \\-->
      <div class="education-main-content">
        <!--// Main Section \\-->
        <div class="education-main-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="education-about-services">
                  <span>About DigitalArts</span>
                  <h2>Welcome </h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    et eletum nulla, eu placerat felis. Etiam tincidunt orci
                    lacus, id varius dolor fermum sit amet. Morbi consectetur
                    ante odio, at vestibulum nibh fringilla id.
                  </p>
                  <div class="education-service education-service-grid">
                    <ul class="row">
                      <li class="col-md-6">
                        <div class="education-service-grid-wrap">
                          <i class="icon-old-fashion-briefcase"></i>
                          <h5><a href="service-detail.html">Business</a></h5>
                          <p>
                            Lorem ipsum dolor sit amet, con ctetur adipiscing
                            elit. Praese
                          </p>
                          <a
                            href="service-detail.html"
                            class="education-readmore-btn"
                            >Read More <i class="fa fa-arrow-circle-o-right"></i
                          ></a>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="education-service-grid-wrap">
                          <i class="icon-calculate"></i>
                          <h5><a href="service-detail.html">Economics</a></h5>
                          <p>
                            Lorem ipsum dolor sit amet, con ctetur adipiscing
                            elit. Praese
                          </p>
                          <a
                            href="service-detail.html"
                            class="education-readmore-btn"
                            >Read More <i class="fa fa-arrow-circle-o-right"></i
                          ></a>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="education-service-grid-wrap">
                          <i class="icon-flask-outline"></i>
                          <h5><a href="service-detail.html">Science</a></h5>
                          <p>
                            Lorem ipsum dolor sit amet, con ctetur adipiscing
                            elit. Praese
                          </p>
                          <a
                            href="service-detail.html"
                            class="education-readmore-btn"
                            >Read More <i class="fa fa-arrow-circle-o-right"></i
                          ></a>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="education-service-grid-wrap">
                          <i class="icon-calculate"></i>
                          <h5><a href="service-detail.html">Development</a></h5>
                          <p>
                            Lorem ipsum dolor sit amet, con ctetur adipiscing
                            elit. Praese
                          </p>
                          <a
                            href="service-detail.html"
                            class="education-readmore-btn"
                            >Read More <i class="fa fa-arrow-circle-o-right"></i
                          ></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img
                  src="extra-images/aboutus-image-1.jpg"
                  alt=""
                  class="education-about-image"
                />
              </div>
            </div>
          </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->

        <div class="education-main-section education-section-postfull">
          <span class="post-transparent"></span>
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="education-post-image">
                  <img src="extra-images/post-text-img.png" alt="" />
                </div>
              </div>
              <div class="col-md-7">
                <div class="education-post-text">
                  <h3>Aliquam in elit vel eros tincidunt</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    et elementum nulla, eu placerat felis. Etiam tincidunt orci
                    lacus, id varius dolor fermentum sit amet.
                  </p>
                  <ul class="education-post-list">
                    <li>
                      <i class="fa fa-bar-chart"></i> Lorem ipsum dolor sit
                      amet, consectetur adipisicing elit.
                    </li>
                    <li>
                      <i class="fa fa-calendar-o"></i> Pellentesque vitae tortor
                      vel sem pulvinar euismod.
                    </li>
                    <li>
                      <i class="fa fa-futbol-o"></i> Nunc ut volutpat ex. Morbi
                      risus elit, mattis in mi nec, mollis blandit erat.
                    </li>
                    <li>
                      <i class="fa fa-book"></i> In eget aliquam odio. Quisque
                      sodales eros ac dui tristique
                    </li>
                  </ul>
                  <a href="404.html" class="education-post-btn">Get in Touch</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--// Main Section \\-->

        <!--// Main Section \\-->

        <div class="education-main-section education-about-teamfull">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="education-fancy-title">
                  <i class="fa fa-graduation-cap"></i>
                  <span>what we provide</span>
                  <h2>Our Team</h2>
                </div>
                <div class="education-team education-team-grid">
                  <ul class="row">
                    <li class="col-md-3">
                      <figure>
                        <a href="team-detail.html"
                          ><img src="extra-images/team-detail-img1.jpg" alt=""
                        /></a>
                        <figcaption>
                          <div class="education-team-grid-text">
                            <h5>
                              <a href="team-detail.html">Sarena Jordan</a>
                            </h5>
                            <span>Web Developer</span>
                            <p>
                              Lorem ipsum dolor sit ae t, consectetur adipiscin
                              elit. Sed et elementu nulla eu.
                            </p>
                            <ul class="education-team-social">
                              <li>
                                <a
                                  href="https://www.facebook.com/"
                                  class="fa fa-facebook-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://twitter.com/login"
                                  class="fa fa-twitter-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://pk.linkedin.com/"
                                  class="fa fa-linkedin-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://plus.google.com/"
                                  class="fa fa-google-plus-square"
                                ></a>
                              </li>
                            </ul>
                          </div>
                          <div class="education-team-grid-info">
                            <h5>
                              <a href="team-detail.html">Sarena Jordan</a>
                            </h5>
                            <span>Web Developer</span>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="col-md-3">
                      <figure>
                        <a href="team-detail.html"
                          ><img src="extra-images/team-detail-img2.jpg" alt=""
                        /></a>
                        <figcaption>
                          <div class="education-team-grid-text">
                            <h5><a href="team-detail.html">Johnny Cash</a></h5>
                            <span>Web Developer</span>
                            <p>
                              Lorem ipsum dolor sit ae t, consectetur adipiscin
                              elit. Sed et elementu nulla eu.
                            </p>
                            <ul class="education-team-social">
                              <li>
                                <a
                                  href="https://www.facebook.com/"
                                  class="fa fa-facebook-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://twitter.com/login"
                                  class="fa fa-twitter-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://pk.linkedin.com/"
                                  class="fa fa-linkedin-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://plus.google.com/"
                                  class="fa fa-google-plus-square"
                                ></a>
                              </li>
                            </ul>
                          </div>
                          <div class="education-team-grid-info">
                            <h5><a href="team-detail.html">Johnny Cash</a></h5>
                            <span>Web Developer</span>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="col-md-3">
                      <figure>
                        <a href="team-detail.html"
                          ><img src="extra-images/team-detail-img3.jpg" alt=""
                        /></a>
                        <figcaption>
                          <div class="education-team-grid-text">
                            <h5>
                              <a href="team-detail.html">Darren Clarke</a>
                            </h5>
                            <span>Web Developer</span>
                            <p>
                              Lorem ipsum dolor sit ae t, consectetur adipiscin
                              elit. Sed et elementu nulla eu.
                            </p>
                            <ul class="education-team-social">
                              <li>
                                <a
                                  href="https://www.facebook.com/"
                                  class="fa fa-facebook-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://twitter.com/login"
                                  class="fa fa-twitter-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://pk.linkedin.com/"
                                  class="fa fa-linkedin-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://plus.google.com/"
                                  class="fa fa-google-plus-square"
                                ></a>
                              </li>
                            </ul>
                          </div>
                          <div class="education-team-grid-info">
                            <h5>
                              <a href="team-detail.html">Darren Clarke</a>
                            </h5>
                            <span>Web Developer</span>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="col-md-3">
                      <figure>
                        <a href="team-detail.html"
                          ><img src="extra-images/team-detail-img4.jpg" alt=""
                        /></a>
                        <figcaption>
                          <div class="education-team-grid-text">
                            <h5><a href="team-detail.html">Marry Mike</a></h5>
                            <span>Web Developer</span>
                            <p>
                              Lorem ipsum dolor sit ae t, consectetur adipiscin
                              elit. Sed et elementu nulla eu.
                            </p>
                            <ul class="education-team-social">
                              <li>
                                <a
                                  href="https://www.facebook.com/"
                                  class="fa fa-facebook-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://twitter.com/login"
                                  class="fa fa-twitter-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://pk.linkedin.com/"
                                  class="fa fa-linkedin-square"
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://plus.google.com/"
                                  class="fa fa-google-plus-square"
                                ></a>
                              </li>
                            </ul>
                          </div>
                          <div class="education-team-grid-info">
                            <h5><a href="team-detail.html">Marry Mike</a></h5>
                            <span>Web Developer</span>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--// Main Section \\-->

        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="education-main-section education-partner-full">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="education-fancy-title">
                  <i class="fa fa-graduation-cap"></i>
                  <span>our Best Service</span>
                  <h2>Our Partners</h2>
                </div>
                <div class="education-partner">
                  <ul>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-1.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-2.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-3.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-4.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-3.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-4.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-1.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="404.html"
                        ><img src="extra-images/partner-img-2.jpg" alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="education-main-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="education-subscribe-newsletter">
                  <img src="extra-images/news-latter-img.jpg" alt="" />
                  <div class="education-newslatter-text">
                    <h2>Subscribe To Our Newsletter</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Praesent feugiat ipsum maximus malesuada. Donec non ex
                      faucibus, fringilla tellus eget, maximus arcu. Duis et
                      eros nisl.
                    </p>
                    <form>
                      <input
                        type="text"
                        value="Type Here"
                        onblur="if(this.value == '') { this.value ='Type Here'; }"
                        onfocus="if(this.value =='Type Here') { this.value = ''; }"
                      />
                      <label
                        ><input type="submit" value="Subscribe Now"
                      /></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--// Main Section \\-->
      </div>
      <!--// Main Content \\-->

      <!--// Footer \\-->
      <footer id="education-footer" class="education-footer-one">
        <span class="education-footer-pattren"></span>

        <!--// Footer Widget \\-->
        <div class="education-footer-widget">
          <div class="container">
            <div class="row">
              <!--// Widget Contact Info \\-->
              <aside class="col-md-4 widget widget_contact_info">
                <a href="index.html" class="education-footer-logo"
                  ><img src="images/footer-logo.png" alt=""
                /></a>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent feugiat urna non ipsum maxim us malesuada.
                </p>
                <ul>
                  <li>
                    <i class="education-color fa fa-home"></i> 195 Cooks Mine
                    Road Espa nola, NM 87532
                  </li>
                  <li>
                    <i class="education-color fa fa-phone"></i> +123 45 678 - 00
                    913 2245 <br />678
                  </li>
                  <li>
                    <i class="education-color fa fa-envelope"></i>
                    <a href="mailto:name@email.com">info@example.com - </a>
                    <a href="mailto:name@email.com">example@abc.com</a>
                  </li>
                </ul>
              </aside>
              <!--// Widget Contact Info \\-->
              <!--// Widget Featured Courses \\-->
              <aside class="col-md-4 widget widget_featured_courses">
                <div class="education-footer-title">
                  <h4>Featured Courses</h4>
                </div>
                <ul>
                  <li>
                    <figure>
                      <a href="course-detail.html"
                        ><img
                          src="extra-images/widget-featured-courses-1.jpg"
                          alt=""
                      /></a>
                      <figcaption>
                        <h6>
                          <a href="course-detail.html"
                            >Lorem ipsum dolor sit amet, cons scing elit.
                            Praesent.</a
                          >
                        </h6>
                        <div class="star-rating">
                          <span
                            class="star-rating-box"
                            style="width: 54%"
                          ></span>
                        </div>
                        <small>( 12 Reviews )</small>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure>
                      <a href="course-detail.html"
                        ><img
                          src="extra-images/widget-featured-courses-2.jpg"
                          alt=""
                      /></a>
                      <figcaption>
                        <h6>
                          <a href="course-detail.html"
                            >Lorem ipsum dolor sit amet, cons scing elit.
                            Praesent.</a
                          >
                        </h6>
                        <div class="star-rating">
                          <span
                            class="star-rating-box"
                            style="width: 34%"
                          ></span>
                        </div>
                        <small>( 12 Reviews )</small>
                      </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure>
                      <a href="course-detail.html"
                        ><img
                          src="extra-images/widget-featured-courses-3.jpg"
                          alt=""
                      /></a>
                      <figcaption>
                        <h6>
                          <a href="course-detail.html"
                            >Lorem ipsum dolor sit amet, cons scing elit.
                            Praesent.</a
                          >
                        </h6>
                        <div class="star-rating">
                          <span
                            class="star-rating-box"
                            style="width: 85%"
                          ></span>
                        </div>
                        <small>( 12 Reviews )</small>
                      </figcaption>
                    </figure>
                  </li>
                </ul>
              </aside>
              <!--// Widget Featured Courses \\-->
              <!--// Widget Gallery \\-->
              <aside class="col-md-4 widget widget_gallery">
                <div class="education-footer-title">
                  <h4>Flicker Images</h4>
                </div>
                <ul>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-1.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-1.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-2.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-2.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-3.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-3.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-4.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-4.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-5.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-5.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-6.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-6.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-7.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-7.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      data-fancybox-group="group"
                      href="extra-images/widget-gallery-8.jpg"
                      class="fancybox"
                      ><img src="extra-images/widget-gallery-8.jpg" alt=""
                    /></a>
                  </li>
                </ul>
              </aside>
              <!--// Widget Gallery \\-->
            </div>
          </div>
        </div>
        <!--// Footer Widget \\-->
 <footer id="education-footer" class="education-footer-one">
        <%- include('../partials/footer') %>
      </footer>
      <!--// Footer \\-->

      <!--// Footer Parallax \\-->
      <!--// Footer Parallax \\-->

      <div class="clearfix"></div>
    </div>
    <!--// Main Wrapper \\-->

    <!-- LoginModal -->
    <%-include('../partials/login')%>
    <!-- SignupModal -->
    <%-include('../partials/signup')%>
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script type="text/javascript" src="/script/jquery.js"></script>
    <script type="text/javascript" src="/script/bootstrap.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/script/slick.slider.min.js"></script>
    <script
      type="text/javascript"
      src="/script/jquery.countdown.min.js"
    ></script>
    <script type="text/javascript" src="/script/fancybox.pack.js"></script>
    <script type="text/javascript" src="/script/progressbar.js"></script>
    <script type="text/javascript" src="/script/counter.js"></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js"
    ></script>
    <script type="text/javascript" src="/script/functions.js"></script>
  </body>

  <!-- Mirrored from eyecix.com/html/education/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Apr 2018 10:53:42 GMT -->
</html>
