<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from eyecix.com/html/education/gallery-view-two.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Apr 2018 10:57:58 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Arts Gallery</title>

    <!-- Css Files -->

    <link href="/css/bootstrap.css" rel="stylesheet" />

    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/flaticon.css" rel="stylesheet" />
    <link href="/css/slick-slider.css" rel="stylesheet" />
    <link href="/css/fancybox.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/color.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">
      <!--// Header \\-->
      <header id="education-header" class="education-header-one">
        <%- include('../partials/header') %>
      </header>
      <!--// Header \\-->

      <!--// SubHeader \\-->
      <div class="education-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="education-subheader-title"><h1>Arts Gallery</h1></div>
              <ul class="education-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><i class="fa fa-long-arrow-right"></i></li>
                <li class="active">Arts Gallery</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--// SubHeader \\-->

      <!--// Main Content \\-->
      <div class="education-main-content">
        <!--// Main Section \\-->
        <div class="education-main-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="education-gallery education-modern-gallery">
                  <ul>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/lastsupper.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/lastsupper.jpg"
                            alt=""
                            class="img-fluid" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">Last Supper painting </a
                            ><small> By Ganesh Bogati(Own Touch) </small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/ganesh.jpg"
                          class="fancybox"
                          ><img src="extra-images/ganesh.jpg" alt="" /><i
                            class="icon-enlarge"
                          ></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">God Ganesh's Painting</a
                            ><small> By Siddhartha Khatiwada</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/abstract.jpg"
                          class="fancybox"
                          ><img src="extra-images/abstract.jpg" alt="" /><i
                            class="icon-enlarge"
                          ></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">Splash</a
                            ><small>By Bikash Kharel</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/art.jpg"
                          class="fancybox"
                          ><img src="extra-images/art.jpg" alt="" /><i
                            class="icon-enlarge"
                          ></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">Colored World</a
                            ><small> By Artist Vicky</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/art4.jpg"
                          class="fancybox"
                          ><img src="extra-images/art4.jpg" alt="" /><i
                            class="icon-enlarge"
                          ></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">Abstract Painting</a
                            ><small>By Skope</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/art3.jpg"
                          class="fancybox"
                          ><img src="extra-images/art3.jpg" alt="" /><i
                            class="icon-enlarge"
                          ></i
                        ></a>
                        <figcaption>
                          <h5>
                            <a href="404.html">Wallows</a
                            ><small>By Sumita Giri</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img1.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img1.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img2.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img2.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img3.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img3.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img4.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img4.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img5.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img5.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <a
                          data-fancybox-group="group"
                          href="extra-images/modern-gallery-img6.jpg"
                          class="fancybox"
                          ><img
                            src="extra-images/modern-gallery-img6.jpg"
                            alt="" /><i class="icon-enlarge"></i
                        ></a>
                        <figcaption>
                          <span>12 Photos</span>
                          <h5>
                            <a href="404.html">Ut at dapibus quam</a
                            ><small>Lorem ipsum dolor</small>
                          </h5>
                        </figcaption>
                      </figure>
                    </li>
                  </ul>
                </div>
                <!--// Pagination \\-->
                <div class="education-pagination">
                  <ul class="page-numbers">
                    <li>
                      <a class="previous page-numbers" href="404.html"
                        ><span aria-label="Next"
                          ><i class="fa fa-angle-left"></i></span
                      ></a>
                    </li>
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="404.html">2</a></li>
                    <li><a class="page-numbers" href="404.html">3</a></li>
                    <li><a class="page-numbers" href="404.html">4</a></li>
                    <li>
                      <a class="next page-numbers" href="404.html"
                        ><span aria-label="Next"
                          ><i class="fa fa-angle-right"></i></span
                      ></a>
                    </li>
                  </ul>
                </div>
                <!--// Pagination \\-->
              </div>
            </div>
          </div>
        </div>
        <!--// Main Section \\-->
      </div>
      <!--// Main Content \\-->

      <footer id="education-footer" class="education-footer-one">
        <%- include('../partials/footer') %>
      </footer>
      <!--// Footer \\-->

      <!--// Footer Parallax \\-->
      <div class="education-parallax">
        <span class="education-footer-pattren"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Get the Coaching Training for Free</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et
                elementum nulla, eu placerat felis. Etiam tincidunt orci lacus,
                id varius.
              </p>
              <br />
              <a href="#">Get Started Now</a>
            </div>
          </div>
        </div>
      </div>
      <!--// Footer Parallax \\-->

      <div class="education-parallax">
        <span class="education-footer-pattren"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Get the Coaching Training for Free</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et
                elementum nulla, eu placerat felis. Etiam tincidunt orci lacus,
                id varius.
              </p>
              <br />
              <a href="#">Get Started Now</a>
            </div>
          </div>
        </div>
      </div>
      <!--// Footer Parallax \\-->

      <div class="clearfix"></div>
    </div>
    <!--// Main Wrapper \\-->

    <!-- LoginModal -->
    <%-include('../partials/login')%>
    <!-- SignupModal -->
    <%-include('../partials/signup')%>
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script type="text/javascript" src="/script/jquery.js"></script>
    <script type="text/javascript" src="/script/bootstrap.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/script/slick.slider.min.js"></script>
    <script
      type="text/javascript"
      src="/script/jquery.countdown.min.js"
    ></script>
    <script type="text/javascript" src="/script/fancybox.pack.js"></script>
    <script type="text/javascript" src="/script/progressbar.js"></script>
    <script type="text/javascript" src="/script/counter.js"></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js"
    ></script>
    <script type="text/javascript" src="/script/functions.js"></script>
  </body>

  <!-- Mirrored from eyecix.com/html/education/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Apr 2018 10:53:42 GMT -->
</html>
